<%-include('./partials/LinksA')-%>
</head>

<body>

    <%-include('./partials/studentNavbar')-%>
    <div class="container">
        <h2 style="text-align: center;" class="my-3 heading">Fee Payment</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Fee Head</th>
                    <th scope="col">Scholarship</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Tution fee </td>
                    <td>10,000</td>
                    <td>70,000</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Examination fee</td>
                    <td>0.00</td>
                    <td>8,000</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Transportation</td>
                    <td>0.00</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <th scope="row" style="font-weight:bold">4</th>
                    <td style="font-weight:bold">Total</td>
                    <td style="font-weight:bold">10,000</td>
                    <td style="font-weight:bold">78,000</td>
                </tr>
                <tr>
                    <th scope="row" style="font-weight:bold">Submission status</th>
                    <td style="font-weight:bold"> </td>
                    <td style="font-weight:bold"></td>
                    <td style="font-weight:bold">Not Submitted</td>
                </tr>
            </tbody>
        </table>
    </div>
    <%-include('./partials/LinksB')-%>
    <%-include('./partials/footer')-%>