<%-include('./partials/LinksA')-%>
<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
</style>
</head>

<body>
    <%-include('./partials/studentNavbar')-%>
<div class="container">
    <h1 style="text-align: center; " class="my-4 ">New Updates </h1>
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Date</th>
                <th scope="col">Notice</th>
                <th scope="col">Description</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Date1</td>
                <td>Notice1</td>
                <td>Desc1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Date2</td>
                <td>Notice2</td>
                <td>Desc2</td>
            </tr>
        </tbody>
    </table>
</div>
<%-include('./partials/LinksB')-%>
<%-include('./partials/footer')-%>