<%-include('./partials/LinksA')-%>
</head>
<body>
    <%-include('./partials/studentNavbar',{token:token})-%>
    <!-- <div class="container"> -->
        <div class="card border-info mb-3 mt-5 ml-5" style="max-width: 18rem;">
            <div class="card-header">Assingment</div>
            <div class="card-body text-info">
              <h5 class="card-title">No assingment for now......</h5>
              <p class="card-text">Not uploaded.</p>
            </div>
          </div>
    <!-- </div> -->
<%-include('./partials/LinksB')-%>
<%-include('./partials/footer')-%>